.same-margin{
    margin-left: 140px;
    margin-right: 140px;
}
.banner {
    display: flex;
    justify-content: center;
    background-image: url('/resources/Banner\ Image.png');
    background-repeat: no-repeat;
   height: 600px;
   background-size: cover;
}


.banner-container {
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

/* start main section style */

.bonus-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.bonus-text {
    color: #F00;
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.bonus-categories {
    color: #070211;
    margin-top: 16px;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.bonus-photo {
    display: flex;
    justify-content: center;
}


.welcome-banner{
    background-image: url('/resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin: 120px 0;
}

.v-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.victorr-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
}

.victorr-title-description {
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
}
/* awesome portfolio styles */
.awesome-image-1{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    
}
/* newsletter css */
.newsletter-section{
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    margin-top: 120px;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-box{
    
}

/* footer style  */
footer {
    background: #070211;
    height: 609px;
    margin-top: 120px;
}

.footer-a {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
}

.address {
    width: 375px;
    height: 80px;
    padding: 120px 280px 50px 140px;
}

.phone-link {
    padding: 120px 291px 90px 280px;
}

.footer-column {
    width: 50%;
}

.footer-b {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-top: 0%;
}
.footer-c {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    margin-top: -75px;
}
.unsubscribe{
    margin-left: 256px;
}