.same-margin {
    margin-left: 140px;
    margin-right: 140px;
}

/* start heading styles */
.banner {
    display: flex;
    justify-content: center;
    background-image: url('../resources/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

.banner-container {
    justify-content: center;
    align-items: center;
    margin-top: 177px;
    text-shadow: 2px 2px 5px rgb(12, 9, 9);
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
}

.banner-heading {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    width: 632px;
}

/* start section1 style */

.bonus-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.bonus-text {
    color: #F00;
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.bonus-categories {
    color: #070211;
    margin-top: 16px;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.bonus-photo {
    display: flex;
    justify-content: center;
}

/* start section2 styles */
.welcome-banner {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin: 120px 0;
    border-radius: 15px;
}

.v-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.victorr-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    width: 642px;
    text-shadow: 2px 2px 5px black;
}

.victorr-title-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    width: 697px;
    text-shadow: 2px 2px 5px black;
    word-spacing: 2px;
}

.btn-join {
    color: white;
    background-color: rgba(255, 0, 0, 0.637);
    padding: 5px 8px;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    word-spacing: 5px;

}

.btn-join:hover {
    background-color: #04AA6D;
    color: white;
}

/* start section3 styles */
.hotel {
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 482px;
    text-align: center;
    margin-top: 120px;
    padding-top: 100px;
    border-radius: 15px;
    margin-bottom: 120px;
}

.hetel-info {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
}

span {
    color: red;
}

.hotel-btn {
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

/* start section4 styles */
.section4-container {
    display: flex;
    justify-content: space-between;
    /* justify-items: center; */
    align-items: center;
    text-align: center;
}

.section4-content1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.best-offer {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
}

.coming-soon {
    color: #070211;
    text-align: left;
    font-family: Merriweather;
    font-size: 48px;
    margin-top: 16px;
}

.best-offer-description {
    color: #070211;
    font-family: Merriweather;
    font-size: 20px;
    margin-top: 22px;
    text-align: left;
    width: 393px;
}

.medile-img {
    padding: 49px;
    border: 15px solid #F00;
    border-radius: 50%;
    border-spacing: 49px;
    width: 364.844px;
    height: 364.844px;
}

.section4-content3 {
    margin-left: 118px;
    text-align: left;
}

.year-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
}

.year-title-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}

.year-title-image {
    width: 140px;
    height: 140px;
}

/* start last section */
.last-section {
    margin-top: 120px;
}

.last-heading {
    text-align: center;
}

.functional {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
}

.holidays-sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
}

.holidays-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}
.last-flex{
    background-image: url(../resources/Rectangle2.png);
    padding-top: 400px;
    display: flex;
    justify-content: space-between;
}


/* start section5 styles */
.awesome-title-1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    padding: 0;
    margin-top: 120px;
}

.awesome-title-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 0;
}

.awesome-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-top: 22px;
    width: 896px;
}

.awesome-image-1 {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    gap: 24px;
}

.hover-img:hover {
    filter: drop-shadow(3px 4px 6px #a1a1a0);
}

/* start section6 styles */
.newsletter-section {
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    margin-top: 120px;
    border-radius: 15px;
}

.newsletter-box {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;

}

.newsletter-emailbox {
    margin-top: 80px;
}

.newsletter-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    padding: 0 212px;
}

.email-style {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    padding: 25px 361px 24px 04px;
    border: 0px;
    border-radius: 35px;
    margin: -88px;
}

.btn-subscribe {
    color: #FFF;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    padding: 24px 56px;
    border: 0px;
    margin: -126px;
    border-radius: 0px 50px 50px 0px;

}

/* start footer section styles  */
footer {
    background: #070211;
    height: 609px;
    margin-top: 120px;
}

.footer-a {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
}

.address {
    width: 375px;
    height: 80px;
    padding: 120px 280px 50px 140px;
}

.phone-link {
    padding: 120px 291px 90px 280px;
}

.footer-p {
    width: 311px;
    height: 40px;
}

.footer-column {
    width: 50%;
}

.footer-b {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-top: 0%;
}

.footer-c {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    margin-top: -75px;
}

.unsubscribe {
    margin-left: 256px;
}